<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectAndroidLibraryManagement"
        tools:targetApi="31">
        <activity
            android:name=".fragment.account.ChangePasswordActivity"
            android:exported="false"
            android:label="Đổi mật khẩu"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.librarian.LibrarianAddActivity"
            android:exported="false"
            android:label="Thêm độc thủ thư"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.librarian.LibrarianUpdateActivity"
            android:exported="false"
            android:label="Cập nhật thông tin thủ thư"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.librarian.LibrarianDetailActivity"
            android:exported="false"
            android:label="Thông tin thủ thư"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.order_book.OrderAddActivity"
            android:exported="false"
            android:label="Thêm phiếu đặt"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.order_book.OrderUpdateActivity"
            android:exported="false"
            android:label="Cập nhật phiếu đặt"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.order_book.OrderDetailActivity"
            android:exported="false"
            android:label="Chi tiết phiếu đặt"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.return_record.ReturnAddActivity"
            android:exported="false"
            android:label="Thêm phiếu trả"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.return_record.ReturnUpdateActivity"
            android:exported="false"
            android:label="Cập nhật phiếu trả"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.return_record.ReturnDetailActivity"
            android:exported="false"
            android:label="Chi tiết phiếu trả"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.search.SearchBookActivity"
            android:exported="false"
            android:label="Chọn sách"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.search.SearchBorrowActivity"
            android:exported="false"
            android:label="Chọn phiếu mượn"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.search.SearchLibrarianActivity"
            android:exported="false"
            android:label="Chọn thủ thư"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.search.SearchReaderActivity"
            android:exported="false"
            android:label="Chọn độc giả"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.search.SearchPublisherActivity"
            android:exported="false"
            android:label="Chọn nhà xuất bản"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.borrow_record.BorrowAddActivity"
            android:exported="false"
            android:label="Thêm phiếu mượn mới"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.borrow_record.BorrowUpdateActivity"
            android:exported="false"
            android:label="Cập nhật phiếu mượn"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.borrow_record.BorrowDetailActivity"
            android:exported="false"
            android:label="Chi tiết phiếu mượn"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.reader.ReaderAddActivity"
            android:exported="false"
            android:label="Thêm độc giả mới"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.reader.ReaderUpdateActivity"
            android:exported="false"
            android:label="Cập nhật thông tin độc giả"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.reader.ReaderDetailActivity"
            android:exported="false"
            android:label="Thông tin độc giả"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.book.BookAddActivity"
            android:exported="false"
            android:label="Thêm sách mới"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.book.BookUpdateActivity"
            android:exported="false"
            android:label="Cập nhật thông tin sách"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".fragment.book.BookDetailActivity"
            android:exported="false"
            android:label="Thông tin sách"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.ProjectAndroidLibraryManagement">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ProjectAndroidLibraryManagement" />
    </application>

</manifest>